
{% extends 'base.html' %}
   

{% block content %}
    <!--Body-->
    <div class="container mt-3">
        <div class="row">
            <!--filters-->
            <div class="col-lg-3">
                <div class="list-group mx-auto">
                    <a href="/" class="list-group-item list-group-item-action ">All Products</a>
                   {% for categ in categories %}
                   <a href="/?categ={{categ.id}}" class="list-group-item list-group-item-action ">{{categ.id}}{{categ.name}}</a>
                   {% endfor %}
                </div>
            </div>

            <!--all products-->
            <div id="products" class="col-lg-9 mx-auto">
                <div class="row mx-auto">
                    {% for prd in products%}
                <div class="card mx-auto mb-3" style="width: 18rem;">
                    <img src="{{prd.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{prd.name}}</h5>
                      <p class="card-text">{{prd.price}}</p>
                      <a href="#" class="btn btn-light border btn-sm">Add to Cart</a>
                    </div>
                  </div>
                    {% endfor %}
                </div>
            </div>

            
        </div>
    </div>
{% endblock content %}
    
   
   
